body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: rgb(20, 0, 43);
    color: rgb(116, 233, 248);
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    background: #020024;
    background: repeating-linear-gradient(55deg, rgb(67, 9, 121)35%, rgb(17, 0, 58), rgb(0, 0, 0));
    background-attachment: fixed;
    min-height: 200vh;
    padding-left: 10px;
    padding-right: 10px;
}
.container {
    background-color: rgb(17, 0, 58);
    background: repeating-linear-gradient(45deg, rgb(67, 9, 121)35%, rgb(17, 0, 58));
    padding: 12px;
}
.hero {
    display: flex;
    gap: 6px;
    border-radius: 10px;
    border: 4px solid rgb(0, 11, 109);
}
.heroLuna {
    border-radius: 10px;
    width:  150px;
    border: 4px solid rgb(0, 11, 109);
}
.heroText {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 5px;
    padding: 6px;
}
h1, p {
    margin: 0px;
}
.gap {
    padding: 10px;
}
.Text1 {
    flex-direction: column;
    justify-content: end;
    gap: 5px;
    padding: 6px;
}
.container1 {
    background-color: rgb(17, 0, 58);
    background: repeating-linear-gradient(135deg, rgb(67, 9, 121)35%, rgb(17, 0, 58));
    padding: 12px;
    display: flex;
    gap: 6px;
    border-radius: 10px;
    border: 4px solid rgb(0, 11, 109);
    width: 380px;
    height: 450px;
}
.gap1 {
    padding: 10px;
    max-width: 340px;
}
.Text2 {
    flex-direction: column;
    justify-content: end;
    gap: 5px;
    padding: 6px;
}
.container2 {
    background-color: rgb(17, 0, 58);
    background: repeating-linear-gradient(45deg, rgb(67, 9, 121)35%, rgb(17, 0, 58));
    padding: 12px;
    display: flex;
    gap: 6px;
    border-radius: 10px;
    border: 4px solid rgb(0, 11, 109);
    width: 380px;
    height: 200px;
}
.Text3 {
    flex-direction: column;
    justify-content: end;
    gap: 5px;
    padding: 6px;
}
.container3 {
    background-color: rgb(17, 0, 58);
    background: repeating-linear-gradient(-135deg, rgb(67, 9, 121)35%, rgb(17, 0, 58));
    padding: 12px;
    display: flex;
    gap: 6px;
    border-radius: 10px;
    border: 4px solid rgb(0, 11, 109);
    width: 380px;
    height: 250px;
    position: absolute; top: 218px; right: 50px;
    
}